
<div class="signup-container">
    <div class="signup-form">
      <img src="assets/imgs/Logo.png" alt="WeAllBeam Logo" />
      <p class="loginanch"><a class="login-button" href="/signin"> < <span>Back to login?</span> </a> </p>
      <h1 class="head-form">Forgot your password? </h1>
      <p>Don’t worry, happens to all of us. Enter your email below to recover your password</p>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

        <div class="signup-email-container">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" placeholder="James.Joseph@gmail.com" class="form-control" [ngClass]="{'is-invalid': resetForm.get('email')?.invalid && resetForm.get('email')?.touched}" />
          <div *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched" class="invalid-feedback">
            Valid email is required.
          </div>
        </div>
  
       
        <button type="submit" class="btn register-submit" [disabled]="resetForm.invalid">Submit</button>
      </form>
   <div class="or-container">
    <div class="or-line"> </div>
    <p>Or log in with</p>
    <div class="or-line"> </div>
   </div>
   <div class="social-login">
        <button class="btn ">
          <img src="assets/imgs/face.png">
        </button>
    <button class="btn ">
      <img src="assets/imgs/google.png">
    </button>
    <button class="btn ">
      <img src="assets/imgs/apple-logo.png">
    </button>
  </div>
 
  </div>
  <div class="signup-slider carousel slide"  id="reg-carousel" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#reg-carousel" data-bs-slide-to="0" class="active slider-button" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#reg-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#reg-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active ">
          <img src="assets/imgs/SignUpImage.png" class="d-block w-100">
          <div class="carousel-caption d-none d-md-block">
            <h3>Your Child’s Well-being, Always in Focus</h3>
            <p>Get daily insights and expert advice to support your child’s mental health journey, right at your fingertips.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/imgs/SignUpImage2.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>Track Moods <span style="color: var(--mainColor);">&</span> Get Expert Guidance</h3>
            <p>Monitor your child’s emotional well-being with ease and get targeted recommendations to guide them through challenging times.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/imgs/SignUpImage3.png" class="d-block w-100">
          <div class="carousel-caption d-none d-md-block">
            <h3>Expert Tools for Proactive Parenting</h3>
            <p>Stay ahead with real-time notifications and curated resources designed to keep your child’s emotional health on track.</p>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  