.register-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 25px;
  height: 100vh; /* Full height of the view */
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

swiper-container {
  width: 100%;  /* Ensure it takes full width */
  height: auto;  /* Adjust height based on content */
}
